# Python
venv/
__pycache__/
*.py[cod]
*.pyo
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter / Dart
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
*.g.dart

# macOS
.DS_Store

# IDE
.vscode/
.idea/
